.dataView {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.dataTitle {
  background-color: #110347;
}

.dataTitle h1 {
  font-family: "Menlo";
  text-align: center;
  color: ghostwhite;
  font-size: larger;
  opacity: 0.8;
}

.searchHeader {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #110347;
  padding: 0 8rem;
}

.searchHeader label {
  font-size: medium;
}

.dataTable {
  background-color: #140347f1;
  padding: 1rem 1rem;
}

.dataTable table {
  justify-content: center;
  margin: 0 auto;
}

th {
  font-family: "Menlo";
  font-size: larger;
  color: ghostwhite;
  opacity: 0.8;
  border: 1px solid ghostwhite;
  padding: 0.5rem;
}

thead tr {
  border: 1px solid rgba(248, 248, 255, 0.367);
  justify-content: space-around;
}

tbody tr {
  outline: 1px solid rgba(248, 248, 255, 0.367);
  justify-content: space-around;
  color: rgb(0, 255, 85);
}

tbody td {
  padding: 0.2rem;
  text-align: center;
}