.entryView {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.entryTitle {
  background-color: #110347;
}

.entryTitle h1 {
  font-family: "Menlo";
  text-align: center;
  font-size: larger;
  color: ghostwhite;
  opacity: 0.8;
}

.entryFormContainer {
  background-color: #140347f1;
  padding: 1rem 2rem;
}

.entryForm {
  display: grid;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
}

label {
  font-family: "Menlo";
  font-size: 1.6rem;
  color: ghostwhite;
  opacity: 0.8;
}

input {
  font-family: "Courier New", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #110347;
  color: rgb(0, 255, 85);
  text-align: right;
}

.entryForm div {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.addressField {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.addressField div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr;
  justify-content: center;
  gap: 0.5rem;
}

.addressField div label {
  font-size: 1rem;
  font-weight: bolder;
  justify-self: center;
}


.entryForm button {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  font-size: large;
  font-family: "Menlo";
  color: ghostwhite;
  border: ghostwhite solid 1px;
  background-color: #110347;
  width: 75%;
}